<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.sms.mapper.AdminMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into sms_admin ( staff_name, password,
                            gender, phone, id_number,
                            on_duty, email, description,
                            enable, last_login_ip, login_count,
                            gmt_last_login, gmt_create, gmt_modified
    )
    values ( #{staffName}, #{password},
             #{gender}, #{phone}, #{idNumber},
             #{onDuty}, #{email}, #{description},
             #{enable}, #{lastLoginIp}, #{loginCount},
             #{gmtLastLogin}, #{gmtCreate}, #{gmtModified}
           )
  </insert>

  <delete id="deleteById" >
    delete from sms_admin
    where id = #{id}
  </delete>

  <update id="updateById">
    update sms_admin
    <set>
      <if test="staffName != null">
        staff_name = #{staffName},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber},
      </if>
      <if test="onDuty != null">
        on_duty = #{onDuty},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="enable != null">
        enable = #{enable},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp},
      </if>
      <if test="loginCount != null">
        login_count = #{loginCount},
      </if>
      <if test="gmtLastLogin != null">
        gmt_last_login = #{gmtLastLogin},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="selectById" resultMap="ListItemResultMap">
    select
    <include refid="Base_Column_List" />
    from sms_admin
    where id = #{id}
  </select>

  <select id="selectByName" resultMap="ListItemResultMap">
    select
    <include refid="Base_Column_List" />
    from sms_admin
    where staff_name= #{staff_name}
  </select>

  <select id="list" resultMap="ListItemResultMap">
    select
    <include refid="Base_Column_List"/>
    from sms_admin
    order by id
  </select>

  <!--List<Admin> findAllAdmin();-->
  <select id="findAllAdmin" resultMap="ListItemResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
      sms_db.sms_admin
  </select>

  <insert id="ExcelInsert" useGeneratedKeys="true" keyProperty="id" >
    insert into sms_admin ( staff_name, password,
                            gender, phone, id_number,
                            on_duty, email, description,
                            enable, last_login_ip, login_count,
                            gmt_last_login, gmt_create, gmt_modified
    )
    values ( #{staffName}, #{password},
             #{gender}, #{phone}, #{idNumber},
             #{onDuty}, #{email}, #{description},
             #{enable}, #{lastLoginIp}, #{loginCount},
             #{gmtLastLogin}, #{gmtCreate}, #{gmtModified}
           )
  </insert>

  <resultMap id="ListItemResultMap" type="com.cs.sms.pojo.vo.AdminVO">
    <id column="id" property="id" />
    <result column="staff_name" property="staffName"/>
    <result column="id_number" property="idNumber"/>
    <result column="last_login_ip" property="lastLoginIp"/>
    <result column="login_count" property="loginCount"/>
    <result column="gmt_create" property="gmtCreate"/>
    <result column="gmt_last_login" property="gmtLastLogin"/>
    <result column="gmt_modified" property="gmtModified"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, staff_name, gender, phone, id_number, on_duty, email, description,
    enable, last_login_ip, login_count, gmt_last_login, gmt_create, gmt_modified
  </sql>
</mapper>