<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.sms.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.cs.sms.pojo.entity.Category">
    <id column="id"  property="id" />
    <result column="name"  property="name" />
    <result column="parent_id" property="parentId" />
    <result column="depth"  property="depth" />
    <result column="keywords"  property="keywords" />
    <result column="sort"  property="sort" />
    <result column="icon"  property="icon" />
    <result column="enable"  property="enable" />
    <result column="is_parent"  property="isParent" />
    <result column="is_display"  property="isDisplay" />
    <result column="gmt_create"  property="gmtCreate" />
    <result column="gmt_modified"  property="gmtModified" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, parent_id, depth, keywords, sort, icon, enable, is_parent, is_display, 
    gmt_create, gmt_modified
  </sql>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into sms_category (  name, parent_id, depth, keywords, sort, icon, enable, is_parent, is_display,
                             gmt_create, gmt_modified
    )
    values ( #{name}, #{parentId}, #{depth}, #{keywords}, #{sort},
            #{icon}, #{enable}, #{isParent}, #{isDisplay},
             #{gmtCreate}, #{gmtModified}
           )
  </insert>

  <delete id="deleteById" >
    delete from sms_category
    where id = #{id}
  </delete>

  <update id="updateById">
    update sms_category
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId},
      </if>
      <if test="depth != null">
        depth = #{depth},
      </if>
      <if test="keywords != null">
        keywords = #{keywords},
      </if>
      <if test="sort != null">
        sort = #{sort},
      </if>
      <if test="icon != null">
        icon = #{icon},
      </if>
      <if test="enable != null">
        enable = #{enable},
      </if>
      <if test="isParent != null">
        is_parent = #{isParent},
      </if>
      <if test="isDisplay != null">
        is_display = #{isDisplay},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sms_category
    where id = #{id}
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sms_category
    where name= #{name}
  </select>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sms_category
    order by id
  </select>

  <!--List<Admin> findAllAdmin();-->
  <select id="findAllCategory" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    sms_db.sms_category
  </select>



</mapper>