<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.sms.mapper.PurchaseMapper">
  <!-- int insert(Purchase purchase); -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into sms_purchase ( name, goods_category,
                               goods_specification, warehousing_quantity,
                               supplier, operator, purchase_document_picture,
                               logo, gmt_create, gmt_modified
    )
    values (#{name}, #{goodsCategory},
            #{goodsSpecification}, #{warehousingQuantity},
            #{supplier}, #{operator}, #{purchaseDocumentPicture},
            #{logo}, #{gmtCreate}, #{gmtModified}
           )
  </insert>

  <!-- int deleteByPrimaryKey(Long id); -->
  <delete id="deleteByPrimaryKey">
    DELETE
    FROM
      sms_purchase
    WHERE
      id=#{id}
  </delete>
  <!-- int deleteByIds(Long... ids); -->
  <delete id="deleteByIds">
    DELETE
    FROM
    sms_purchase
    WHERE
    id IN (
    <foreach collection="array" item="id" separator=",">
      #{id}
    </foreach>
    )
  </delete>
  <update id="updateById">
    UPDATE
    sms_purchase
    <set>
      <if test="name != null">
        name=#{name},
      </if>
      <if test="goodsCategory != null">
        goods_category=#{goodsCategory},
      </if>
      <if test="goodsSpecification!= null">
        goods_specification=#{goodsSpecification},
      </if>
      <if test="warehousingQuantity != null">
        warehousing_quantity=#{warehousingQuantity},
      </if>
      <if test="supplier != null">
        supplier=#{supplier},
      </if>
      <if test="operator != null">
        operator=#{operator},
      </if>
      <if test=" purchaseDocumentPicture != null">
        purchase_document_picture=#{purchaseDocumentPicture},
      </if>
      <if test="logo != null">
        logo=#{logo},
      </if>
    </set>
    WHERE
    id=#{id}
  </update>
  <!-- int updateNameById(@Param("id") Long id, @Param("name") String name); -->
  <update id="updateNameById">
    UPDATE
      sms_purchase
    SET
      name=#{name}
    WHERE
      id=#{id}
  </update>

  <!-- int count(); -->
  <select id="count" resultType="int">
    SELECT count(*) FROM sms_purchase
  </select>


  <!-- int countByName(String name); -->
  <select id="countByName" resultType="int">
    SELECT count(*) FROM sms_purchase WHERE name=#{name}
  </select>
  <!-- PurchaseDetailVO getById(Long id); -->
  <select id="getById" resultMap="DetailResultMap">
    SELECT
    <include refid="DetailQueryFields" />
    FROM
    sms_purchase
    WHERE
    id=#{id}
  </select>
  <!-- PurchaseDetailVO getByName(String name); -->
  <select id="getByName" resultMap="DetailResultMap">
    SELECT
    <include refid="DetailQueryFields" />
    FROM
    sms_purchase
    WHERE
    name=#{name}
  </select>
  <!--    List<PurchaseListItemVO> list();-->
  <select id="list" resultMap="ListItemResultMap">
    SELECT
    <include refid="ListItemQueryFields" />
    FROM
    sms_purchase
    ORDER BY id
  </select>
  <!--    List<PurchaseListItemVO> listPage(Integer offset, Integer count);-->
  <select id="listPage" resultMap="ListItemResultMap">
    SELECT
    <include refid="ListItemQueryFields" />
    FROM
    sms_purchase
    ORDER BY id
    LIMIT ${offset}, ${count}
  </select>

  <resultMap id="DetailResultMap" type="com.cs.sms.pojo.vo.PurchaseDetailVO">
    <id column="id" property="id" />
    <id column="goods_category" property="goodsCategory" />
    <id column="goods_specification" property="goodsSpecification" />
    <id column="warehousing_quantity" property="warehousingQuantity" />
    <id column="purchase_document_picture" property="purchaseDocumentPicture" />
    <id column="gmt_create" property="gmtCreate" />
  </resultMap>

  <sql id="DetailQueryFields">
    <if test="true">
      id,name, goods_category,
      goods_specification, warehousing_quantity,
      supplier, operator, purchase_document_picture,
      logo
    </if>
  </sql>

  <sql id="ListItemQueryFields">
    <if test="true">
      id,name, goods_category,
      goods_specification, warehousing_quantity,
      supplier, operator, purchase_document_picture,
      logo,gmt_create
    </if>
  </sql>
  <resultMap id="ListItemResultMap" type="com.cs.sms.pojo.vo.PurchaseListItemVO">
    <id column="id" property="id" />
    <id column="goods_category" property="goodsCategory" />
    <id column="goods_specification" property="goodsSpecification" />
    <id column="warehousing_quantity" property="warehousingQuantity" />
    <id column="purchase_document_picture" property="purchaseDocumentPicture" />
    <id column="gmt_create" property="gmtCreate" />
  </resultMap>
</mapper>