<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.sms.mapper.RoleMapper">

  <insert id="insert">
    INSERT INTO sms_role(name, description, sort, gmt_create, gmt_modified)
    values (#{name}, #{description}, #{sort}, #{gmtCreate}, #{gmtModified})
  </insert>

  <delete id="deleteById">
    DELETE FROM sms_role WHERE id in(<foreach collection="array" item="id" separator=",">
    #{id}
  </foreach>)
  </delete>

  <select id="select" resultType="int">
    SELECT COUNT(*)
    FROM sms_role
    WHERE name = #{name}
  </select>

  <select id="list" resultMap="RoleResultMap">
    SELECT
    <include refid="list"/>
    FROM sms_role
  </select>

  <select id="getById" resultMap="RoleResultMap">
    select
    <include refid="list"/>
    from sms_role WHERE id = #{id}
  </select>

  <select id="getByName" resultMap="RoleResultMap">
    select
      id
    from sms_role WHERE name = #{name}
  </select>

  <sql id="list">
    id,name,description,sort,gmt_create,gmt_modified
  </sql>


  <update id="updateById">
    update sms_role
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="sort != null">
        sort = #{sort},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified},
      </if>
    </set>
    where id = #{id}
  </update>

  <resultMap id="RoleResultMap" type="com.cs.sms.pojo.vo.RoleVO">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="description" property="description"/>
    <result column="sort" property="sort"/>
    <result column="gmt_create" property="gmtCreate"/>
    <result column="gmt_modified" property="gmtModified"/>
  </resultMap>

  <insert id="ExcelInsert">
    insert into sms_role ( name, description,
                           sort, gmt_create, gmt_modified
    )
    values ( #{name}, #{description},
             #{sort}, #{gmtCreate}, #{gmtModified}
           )
  </insert>
</mapper>