<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.sms.mapper.SupplierMapper">
  <select id="list" parameterType="String" resultMap="ResultMapList">
    select
    <include refid="Base_Column_List" />
    from sms_supplier
    order by #{id}
  </select>

  <select id="countByName" resultType="java.lang.Integer" parameterType="String">
    select count(*) from sms_supplier where supplier=#{supplier}
  </select>


  <select id="getById" parameterType="java.lang.Long" resultMap="ResultMapList">
    select <include refid="Base_Column_List" /> from sms_supplier where  id=#{id}
  </select>

  <!--List<Supplier> findAllSupplier();-->
  <select id="findAllSupplier" resultMap="ResultMapList">
    SELECT
      <include refid="Base_Column_List"></include>
    FROM
      sms_db.sms_supplier
  </select>

  <delete id="deleteByPrimaryKey">
    delete from sms_supplier
    where id  in(
    <foreach collection="array" item="id" separator=",">
      #{id}
    </foreach>
    )
  </delete>
  <insert id="insert" parameterType="com.cs.sms.pojo.entity.Supplier">
    insert into sms_supplier (id, supplier, supplier_name,
                              supplier_phone, supplier_site, remark,
                              gmt_create, gmt_modified)
    values (#{id}, #{supplier}, #{supplierName},
            #{supplierPhone}, #{supplierSite}, #{remark},
            #{gmtCreate}, #{gmtModified})
  </insert>



  <update id="updateByPrimaryKeySelective">
    UPDATE sms_supplier

    <set>
      <if test="supplier != null">
        supplier=#{supplier},
      </if>
      <if test="supplierName != null">
        supplier_name=#{supplierName},
      </if>
      <if test="supplierPhone != null">
        supplier_phone=#{supplierPhone},
      </if>
      <if test="supplierSite != null">
        supplier_site=#{supplierSite},
      </if>
      <if test="remark != null">
        remark=#{remark},
      </if>
      <if test="gmtCreate !=null">
        gmt_create=#{gmtCreate},
      </if>
    </set>
    WHERE
    id=#{id}
  </update>

  <sql id="Base_Column_List">
    <if test="true">
      id, supplier, supplier_name, supplier_phone, supplier_site, remark, gmt_create
    </if>
  </sql>

  <resultMap id="ResultMapList" type="com.cs.sms.pojo.vo.SupplierListVO">
    <id column="id" property="id"/>
    <result column="supplier" property="supplier" />
    <result column="supplier_name"  property="supplierName" />
    <result column="supplier_phone"  property="supplierPhone" />
    <result column="supplier_site"  property="supplierSite" />
    <result column="remark"  property="remark" />
    <result column="gmt_create" property="gmtCreate" />
  </resultMap>
</mapper>