<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.sms.mapper.UserMapper">
    <insert id="insert" >
        insert into sms_user (
            id,username,password,nickname,email,
            phone,address,create_time,avatar_url,
            role,enable
        )
        values (
                   #{id},#{username}, #{password},
                   #{nickname}, #{email}, #{phone},
                   #{address}, #{createTime}, #{avatarUrl},#{role},#{enable}
               )
    </insert>

    <!--int deleteById(Long id);-->
    <delete id="deleteById">
        delete from sms_db.sms_user
        where id = #{id}
    </delete>

    <!--int deleteByIds(Long[] ids);-->
    <delete id="deleteByIds">
        delete from sms_db.sms_user where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>


    <!--int updateById(Long id);-->
    <update id="updateById">
        update
        sms_db.sms_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="role != null">
                role = #{role}
            </if>
            <if test="enable != null">
                enable = #{enable}
            </if>
        </set>
        where
        id = #{id}
    </update>

    <!-- UserVO selectById(Long id); -->
    <select id="selectById" resultMap="DetailResultMap">
        select
        <include refid="DetailQueryFields" />
        from
        sms_db.sms_user
        where
        id = #{id}
    </select>
    <!--根据用户名模糊查询-->
    <select id="selectByName" resultMap="ListItemResultMap">
        select
        <include refid="DetailQueryFields" />
        from
        sms_db.sms_user
        where
        username like concat('%',#{username},'%')
    </select>

    <!--List<User> findAllGoods();-->
    <select id="findAllUser" resultMap="ListItemResultMap">
        SELECT
            id,username,password,nickname,email,
            phone,address,create_time,avatar_url,
            role,enable
        FROM
            sms_db.sms_user
    </select>

    <!--int countByName(String name);-->
    <select id="countByName" resultType="int">
        select count(*) from sms_db.sms_user where username = #{username}
    </select>

    <!--List<UserVO> list();-->
    <select id="list" resultMap="ListItemResultMap">
        SELECT
        <include refid="ListItemQueryFields"/>
        FROM
        sms_db.sms_user
        ORDER BY id
    </select>

    <!--List<User> findAllUser();-->
    <select id="findAllGoods" resultMap="ListItemResultMap">
        SELECT
            id,username,password,nickname,email,
            phone,address,create_time,avatar_url,
            role,enable
        FROM
            sms_db.sms_user
    </select>


    <resultMap id="DetailResultMap" type="com.cs.sms.pojo.vo.UserVO">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="create_time" property="createTime" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="role" property="role" />
    </resultMap>



    <sql id="DetailQueryFields">
        <if test="true">
            id,username,password,nickname,email,
            phone,address,create_time,avatar_url,
            role,enable
        </if>
    </sql>

    <resultMap id="ListItemResultMap" type="com.cs.sms.pojo.vo.UserVO">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="ListItemQueryFields">
        <if test="true">
            id,username,password,nickname,email,
            phone,address,create_time,avatar_url,
            role,enable
        </if>
    </sql>

</mapper>
